@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #191f36;
  --sn-bg-color: #262b40;
  --text-color: #fff;
  --main-color: #59b2fa;
  --close--color: #cf0610;
  --popUp--color: #262a3b;
  --htmlColor: #f065297e;
  --cssColor: #2965f17c;
  --jsColor: rgba(255, 255, 0, 0.336);
  --reactColor: #61dcfb69;
  --githubColor: #1166b17a;
  --navBarColor: #262b40e5;
}
.Light-Mode {
  --bg-color: #e4e5f1;
  --sn-bg-color: white;
  --text-color: black;
  --main-color: #0071ff;
  --close--color: #cf0610;
  --popUp--color: #e4e5f1;
  --icon--color: #7f81923d;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header h2 {
  font-size: 2.5rem;
  background-image: linear-gradient(#262b40, #59b2fa);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  cursor: pointer;
}

header button {
  border: none;
  padding: 0.8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.cta-button {
  background-color: var(--accent-color);
}
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  right: 20px;
}
#theme-switch svg {
  fill: var(--main-color);
}

#theme-switch svg:first-child {
  display: block; /* Show Sun by default */
}

#theme-switch svg:last-child {
  display: none; /* Hide Moon by default */
}

/* When Light Mode is active */
.Light-Mode #theme-switch svg:first-child {
  display: none; /* Hide Sun */
}

.Light-Mode #theme-switch svg:last-child {
  display: block; /* Show Moon */
}

.navbar ul {
  display: flex;
}
.navbar ul a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar ul a:hover,
.navbar ul a.active {
  color: var(--main-color);
  border-bottom: 3px var(--main-color) solid;
}

#menu-icon,
#close-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* #menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
} */

/* nav #close-icon {
  display: none;
} */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.home-content {
  width: 50%;
  height: 100%;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.7rem;
  text-align: center;
}

.home-img {
  width: 40%;
  height: 100%;
}

.home-img img {
  width: 30vw;
  height: 65vh;
  border-radius: 50%;
  border: 0.3rem solid var(--main-color);
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--sn-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--sn-bg-color);
}
.about-img img {
  width: 35vw;
  border: 0.2rem solid var(--main-color);
  border-radius: 5%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background-color: var(--sn-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 6.5rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.portfolio {
  background: var(--sn-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0.7;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#b2fefaa6, #0ed0f7e1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateX(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateX(0);
}

.portfolio-layer h4 {
  font-size: 2.5rem;
  color: #012a5c;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 1.3rem 0 1rem;
  color: #012a5c;
  font-weight: bold;
}

.portfolio-layer i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
  color: var(--sn-bg-color);
  cursor: pointer;
  font-size: 2rem;
}

.skills {
  width: 100%;
  padding: 2%;
}

.skills .technicalSkills-div {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
}
.skills .technicalSkills-div .textDiv {
  width: 70vw;
  height: 15vh;
}
.skills .technicalSkills-div .textDiv h2 {
  font-size: 4rem;
  color: var(--main-color);
}
.skills .technicalSkills-div .textDiv p {
  color: var(--text-color);
  font-size: 1.7rem;
}
.skills .technicalSkills-div .IconsWrappper-div {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.skills .technicalSkills-div .IconsWrappper-div .Icon {
  width: 23%;
  height: 20vh;
  display: flex;
  justify-content: center;
  padding: 2px;
  background-color: var(--icon--color);
  border-radius: 5px;
}
.skills .technicalSkills-div .IconsWrappper-div .Icon:hover {
  transform: scale(1.1);
}
.skills .technicalSkills-div .IconsWrappper-div .Icon img {
  width: 9rem;
}
#skills .technicalSkills-div .IconsWrappper-div .Icon p {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 800;
}
.skills .html-div {
  box-shadow: 0px 0px 5px 5px var(--htmlColor);
}
.skills .css-div {
  box-shadow: 0px 0px 5px 5px var(--cssColor);
}
.skills .javascript-div {
  box-shadow: 0px 0px 5px 5px var(--jsColor);
}
.skills .react-div {
  box-shadow: 0px 0px 5px 5px var(--reactColor);
}
.skills .github-div {
  box-shadow: 0px 0px 5px 5px var(--githubColor);
}

/* .portfolio-layer a i {
    font-size: 5rem;
    color: var(--sn-bg-color);
} */

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--sn-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  caret-color: var(--main-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--sn-bg-color);
}

.footer-text {
  font-size: 1.6rem;
}

.footer-text a {
  color: var(--main-color);
  font-weight: bold;
}

.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 3rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--sn-bg-color);
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--popUp--color);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 5px;
}

.modal-content h2 {
  font-size: 3.6rem;
  color: var(--main-color);
}
.modal-content p {
  font-size: 1.6rem;
  color: var(--text-color);
}

.close-button {
  color: var(--close--color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
}

.toastify {
  font-size: 22px !important;
  padding: 10px 30px !important;
  min-width: 250px; /* Set a minimum width */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE FOR OTHER DEVICES */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
  }
}

@media (max-width: 991px) {
  section {
    padding: 5;
  }
  .home {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    height: 100%;
  }
  .home-content h3 {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content p {
    font-size: 1.8rem;
  }

  .home-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .home-img img {
    width: 90vw;
    height: 45vh;
    border-radius: 50%;
    border: 0.3rem solid var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
  }

  #menu-icon {
    display: block;
    color: var(--main-color);
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    position: absolute;
    top: 20%;
    width: 60vw;
    height: 60vh;
    border-radius: 5%;
    right: 3%;
    z-index: 1;
    padding: 10px;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
  }
  .navbar ul a {
    font-size: 2rem;
  }

  #close-icon {
    display: block;
    align-self: flex-end;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #cf0610;
  }
  #theme-switch {
    position: absolute;
    top: 2px;
    right: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img img {
    width: 90vw;
    border: 0.2rem solid var(--main-color);
    border-radius: 5%;
  }
  .about-content p {
    font-size: 1.8rem;
  }
  .services {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-container {
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .services-container .services-box {
    flex: 1 1 30rem;
    background-color: var(--sn-bg-color);
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    margin-bottom: 4%;
  }

  html {
    font-size: 50%;
  }
  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .portfolio-container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .footer-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    color: var(--text-color);
  }
}

@media (max-width: 768px) {
  section {
    padding: 5;
  }
  .home {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    height: 100%;
  }
  .home-content h3 {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content p {
    font-size: 1.8rem;
  }

  .home-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .home-img img {
    width: 90vw;
    height: 45vh;
    border-radius: 50%;
    border: 0.3rem solid var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
  }

  #menu-icon {
    display: block;
    color: var(--main-color);
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    position: absolute;
    top: 20%;
    width: 60vw;
    height: 60vh;
    border-radius: 5%;
    right: 3%;
    z-index: 1;
    padding: 10px;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
  }
  .navbar ul a {
    font-size: 2rem;
  }

  #close-icon {
    display: block;
    align-self: flex-end;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #cf0610;
  }
  #theme-switch {
    position: absolute;
    top: 2px;
    right: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img img {
    width: 90vw;
    border: 0.2rem solid var(--main-color);
    border-radius: 5%;
  }
  .about-content p {
    font-size: 1.8rem;
  }
  .services {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-container {
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .services-container .services-box {
    flex: 1 1 30rem;
    background-color: var(--sn-bg-color);
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    margin-bottom: 4%;
  }

  html {
    font-size: 50%;
  }
  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .portfolio-container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .footer-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    color: var(--text-color);
  }
}

@media (max-width: 617px) {
  section {
    padding: 5;
  }
  .home {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    height: 100%;
  }
  .home-content h3 {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content p {
    font-size: 1.8rem;
  }

  .home-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .home-img img {
    width: 90vw;
    height: 45vh;
    border-radius: 50%;
    border: 0.3rem solid var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
  }

  #menu-icon {
    display: block;
    color: var(--main-color);
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    position: absolute;
    top: 20%;
    width: 60vw;
    height: 60vh;
    border-radius: 5%;
    right: 3%;
    z-index: 1;
    padding: 10px;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
  }
  .navbar ul a {
    font-size: 2rem;
  }

  #close-icon {
    display: block;
    align-self: flex-end;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #cf0610;
  }
  #theme-switch {
    position: absolute;
    top: 2px;
    right: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img img {
    width: 90vw;
    border: 0.2rem solid var(--main-color);
    border-radius: 5%;
  }
  .about-content p {
    font-size: 1.8rem;
  }
  .services {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-container {
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .services-container .services-box {
    flex: 1 1 30rem;
    background-color: var(--sn-bg-color);
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    margin-bottom: 4%;
  }

  html {
    font-size: 50%;
  }
  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .portfolio-container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
     #skills .technicalSkills-div{
    width: 100%;
    padding: 0;
  }
  #skills .technicalSkills-div .textDiv h2{
    font-size: 1.7rem;
  }
  #skills  .textDiv p{
    font-size: 1.2rem;
  }
  #skills .technicalSkills-div .IconsWrappper-div{
    width: 100%;
    height: 80vh;
    /* background-color:aqua; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    padding: 3px;
  }
  #skills .technicalSkills-div .IconsWrappper-div .Icon{
    width: 36%;
    display: flex;
    align-items: center;
    margin-bottom: 7%;
  }
  #skills .technicalSkills-div .IconsWrappper-div .Icon img{
    width: 30%;
  }
  #skills .technicalSkills-div .IconsWrappper-div .Icon p{
    font-size: 1.2rem;
    margin-left: 2%;
  }

  .contact {
    margin-top: 15%;
  }

  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .footer-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    color: var(--text-color);
  }
}

@media (max-width: 450px) {
  section {
    padding: 5;
  }
  .home {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    height: 100%;
  }
  .home-content h3 {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content p {
    font-size: 1.8rem;
  }

  .home-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .home-img img {
    width: 90vw;
    height: 45vh;
    border-radius: 50%;
    border: 0.3rem solid var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
  }

  #menu-icon {
    display: block;
    color: var(--main-color);
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    position: absolute;
    top: 20%;
    width: 60vw;
    height: 60vh;
    border-radius: 5%;
    right: 3%;
    z-index: 1;
    padding: 10px;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
  }
  .navbar ul a {
    font-size: 2rem;
  }

  #close-icon {
    display: block;
    align-self: flex-end;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #cf0610;
  }
  #theme-switch {
    position: absolute;
    top: 2px;
    right: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img img {
    width: 90vw;
    border: 0.2rem solid var(--main-color);
    border-radius: 5%;
  }
  .about-content p {
    font-size: 1.8rem;
  }
  .services {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-container {
    width: 90%;
    margin-top: 5%;
  }
  .services-container .services-box {
    flex: 1 1 30rem;
    background-color: var(--sn-bg-color);
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    margin-bottom: 4%;
  }

  html {
    font-size: 50%;
  }
  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .portfolio-container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

   #skills .technicalSkills-div{
    width: 100%;
    padding: 0;
  }
  #skills .technicalSkills-div .textDiv h2{
    font-size: 1.7rem;
  }
  #skills  .textDiv p{
    font-size: 1.2rem;
  }
  #skills .technicalSkills-div .IconsWrappper-div{
    width: 100%;
    height: 80vh;
    /* background-color:aqua; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    padding: 3px;
  }
  #skills .technicalSkills-div .IconsWrappper-div .Icon{
    width: 36%;
    display: flex;
    align-items: center;
    margin-bottom: 7%;
  }
  #skills .technicalSkills-div .IconsWrappper-div .Icon img{
    width: 30%;
  }
  #skills .technicalSkills-div .IconsWrappper-div .Icon p{
    font-size: 1.2rem;
    margin-left: 2%;
  }

  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .footer-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    color: var(--text-color);
  }
}
